<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Hola Jessi !</p>
<p style="margin-bottom: 25px;">Tu amiga <b><%= nameDama %></b> contestó que <b><%= tipoRespuesta %></b> la propuesta de ser tu dama de honor.</p>

<p style="margin-bottom: 5px;">Saludos !</p>

