<div id="homepage" v-cloak>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
        Hola <b>{{name}}</b> Si estás leyendo esto es porque me gustaría que seas parte, ya tengo el novio, ahora te necesito a vos,
        por que?....
        <br>
        <br>
        <ol>
          <li>Porque has sido parte importante de mi vida</li>
          <li>Porque has estado conmigo en mis momentos difíciles.</li>
          <li>Porque soy una persona muy afortunada al contar con tu amistad.</li>
          <li>Porque eres parte del proceso y has sido testigo desde el primer día.</li>
          <li>Porque se que vas a encargarte de pensar en innovaciones para la fiesta.</li>
          <li>Porque junto a las demás damas, van a formar el mejor equipo, y van a organizar la mejor despedida de
            soltera que nunca voy a olvidar!</li>
          <li>POR ESTO Y MAS , QUIERO PEDIRTE ALGO MUY IMPORTANTE.</li>
        </ol>

        <h3>¿QUIERES SER MI DAMA DE HONOR?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-outline-success" @click="acepta()">Si, quiero !</button>
        <button class="btn btn-outline-danger" @click="rechaza()">No gracias !</button>
      </div>
    </div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>